#root {
  margin: 0 auto;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* This assumes you want your app to take up the full height of the viewport. */
}

.nav-section {
  /* add other styles as needed */
}

.kanban-section {
  display: flex;
  flex: 3;
  /* add other styles as needed */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
